body{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.App{
  display:flex;
  flex:0;
  box-sizing: border-box;
}
 /*to make the app responsive*/
@media screen and (max-width: 768px){
  .App{
    flex-direction: column;
  }
}