.sidebar{
    flex:0.2;
    background-color: #2F3C7E;
    height: 100vh;
    flex-shrink: 0;
}
/* color for background #FBEAEB */
.sidebaricon{
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
.sidebaricontext{
    font-size: 25px;
    font-weight: 500;
}

.sidebarOptions{
    margin-top: 30px;
}

.sidebarOption{
    display: flex;
    align-items: center;
    padding:20px;
    margin-left: 5px;
    color: white;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
    text-decoration:none;
}

.active{
    background-color:#FBEAEB;
    color: #2F3C7E;
    border-radius: 12px;
}

.sidebarOptionName{
    text-decoration:none;
}

.sidebarOption:hover{
    opacity: 0.83;
    border-radius: 10px;
}   
